.header-container {
  background-color: #e9e6e6;
  border-bottom: 1px solid #011826;
  width: 100%;
  min-height: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-info-player {
  padding: 5px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 88px;
}

.container-info-player h5, h6 {
  font-size: 15px;
  margin-bottom: 5px;
}

.container-score-header {
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
  font-size: 23px;
  height: 60px;
  width: 90%;
  margin-bottom: 15px;
}

.container-header-img {
  display: flex;
  align-items: center;
  justify-items: center;
  min-width: 80px;

}

.container-header-img img {
  border: 1px solid #011826;
  border-radius: 50%;
  height: 70px;
}

.logo-header {
  width: 20%;
  height: 50%;
}

@media screen and (max-width: 768px) {
  .header-container {
    min-height: 50px;
    flex-direction: row;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .container-header-img{
    display: none;
  }
  .logo-header {
    margin: 20px auto;
    height: 30px;
    width: 40%;
  }
}